<div class="page search-page">
    <dx-responsive-box
        [screenByWidth]="getScreen"
        (onOptionChanged)="adaptation()"
        singleColumnScreen="xs">

        <dxi-row [baseSize]="109" screen="lg sm md"></dxi-row>
        <dxi-row [baseSize]="756" screen="lg sm md"></dxi-row>
        <dxi-row [ratio]="1"></dxi-row>

        <dxi-col [baseSize]="475" [ratio]="0"></dxi-col>
        <dxi-col [baseSize]="550" [ratio]="0"></dxi-col>

        <dxi-item class="info-search">
            <dxi-location
                [row]="0"
                [col]="0"
                screen="lg md sm">
            </dxi-location>
            <dxi-location
                [row]="0"
                [col]="0"
                screen="xs">
            </dxi-location>
            <searching-info [searchingParams]="searchingParams" (dataLoaded)="repaint($event)"></searching-info>
        </dxi-item>
        <dxi-item class="info-search">
            <dxi-location
                [row]="0"
                [col]="1"
                screen="lg md sm">
            </dxi-location>
            <dxi-location
                [row]="1"
                [col]="0"
                screen="xs">
            </dxi-location>
            <change-search class="right-side" [params]="searchingParams" [adaptOptions]="adaptOptions"></change-search>
        </dxi-item>
        <dxi-item class="result-search">
            <dxi-location
                [row]="1"
                [col]="0"
                [colspan]="2"
                screen="lg md sm">
            </dxi-location>
            <dxi-location
                [row]="2"
                [col]="0"
                screen="xs">
            </dxi-location>
            <club-list [adaptOptions]="adaptOptions"></club-list>
        </dxi-item>
    </dx-responsive-box>
    <dx-load-panel message="Loading..."
        [shading]="true"
        [showPane]="false"
        shadingColor="#f6f9f5"
        [position]="{ of: '#page'}"
        [visible]="loadingData">
    </dx-load-panel>
</div>