.info {
    margin-left: 30px;
    margin-top: 14px;
    text-align: left;

    .name {
        font-size: 30px;
    }

    .load-panel {
        margin-top: 54px;
    }
}

.details {
    font-size: 14px;
    color: darkgray;
}

 @media screen and (max-width: 768px) {
    .info {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;

        .name {
            font-size: 25px;
        }
    }
}
