<div class="info-page page">
    <div class="responsive-info">
        <div class="info-container">
            <div class="info-search">
                <full-address></full-address>
            </div>
            <div class="info-search">
                <div class="right-side">
                    <div class="details">{{searchingParams.startDate | date: 'EEE dd'}} - {{searchingParams.endDate | date: 'EE dd, MMMM yyyy'}}</div>
                    <change-search [params]="searchingParams" [adaptOptions]="adaptOptions"></change-search>
                </div>
            </div>
        </div>
        <div class="result-search">
            <descroption [adaptOptions]="adaptOptions"></descroption>
        </div>
    </div>
</div>
