<div class="search-panel">
    <div class="title">Search for golf courses</div>
    <dx-form class="search-form"
        [(formData)]="data"
        [showRequiredMark]="false"
        [labelLocation]="adaptOptions.searchLabelLocation"
        (onFieldDataChanged)="fieldChanged($event)">
        <dxi-item
            dataField="location"
            editorType="dxSelectBox"
            cssClass="search-location"
            [editorOptions]="{
                height: 36,
                dataSource: citiesList,
                placeholder: '',
                displayExpr: 'Name',
                valueExpr: 'Id'
            }">
            <dxi-validation-rule
                type="required"
                message="Location is required">
            </dxi-validation-rule>
        </dxi-item>
        <dxi-item
            itemType="group"
            [colCount]="2">
            <dxi-item
                dataField="startDate"
                editorType="dxDateBox"
                cssClass="groupItems"
                [editorOptions]="{
                    adaptivityEnabled: true,
                    max: maxStartDate,
                    min: minStartDate,
                    pickerType: pickerType,
                    width: '100%',
                    height: 36
                }">
                <dxo-label text="From"></dxo-label>
                <dxi-validation-rule
                    type="required"
                    message="From is required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item
                dataField="endDate"
                editorType="dxDateBox"
                cssClass="groupItems"
                [editorOptions]="{
                    adaptivityEnabled: true,
                    max: maxEndDate,
                    min: minEndDate,
                    pickerType: pickerType,
                    width: '100%',
                    height: 36
                }">
                <dxo-label text="To"></dxo-label>
                <dxi-validation-rule
                    type="required"
                    message="To is required">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
        <dxi-item
            itemType="group"
            [colCount]="2">
            <dxi-item
                dataField="players"
                editorType="dxSelectBox"
                cssClass="groupItems"
                [editorOptions]="{
                    height: 36,
                    dataSource: numberOfPlayers,
                    placeholder: ''
                }">
                <dxi-validation-rule
                    type="required"
                    message="Players is required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item
                dataField="holes"
                editorType="dxSelectBox"
                cssClass="groupItems"
                [editorOptions]="{
                    height: 36,
                    dataSource: numberOfHoles,
                    placeholder: ''
                }">
                <dxi-validation-rule
                    type="required"
                    message="Holes is required">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
    </dx-form>
    <dx-button class="search green-button white-text"
        [height]="51"
        (onClick)="searchClubs()"
        text="Search Course">
    </dx-button>
</div>
